body{
    font-family: roboto, Arial, Helvetica, sans-serif;
    background-color: rgb(249, 250, 250);
}
#container{
    display: grid; /*for creating 2 columns, 1 for logo and other for form*/
    grid-template-columns: 30rem 49rem;
    margin-top: -0.5rem;
    margin-left: -0.5rem;
}

#background-img{
    width: 30rem;
    height: 38rem;
    margin-bottom: -29rem; /* Change LOGO position vertically*/
}
#logo{
    display: flex; /*for aligning logo img and logo text in center*/
    justify-content: center;
    align-items: center;
}
#logo-img{
    width: 8rem;
    height: 10rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: rgba(12, 12, 12, 0.664);
}
#logo-text{
    color: hsl(120, 56%, 94%);
    font-family: monospace;
    font-size: 3rem;
    padding: 2rem 2rem 2rem 2rem;
    background-color: rgba(12, 12, 12, 0.664);
}
#container-form{
    padding: 50px;
}
form{
    font-size: 0.8rem;
    font-weight: bold;
    color: hsla(0, 3%, 25%, 0.938);
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -50px;
    margin-right: -55px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: inset 0px 1px 1px -1px hsla(0, 7%, 71%, 0.973),
                5px 5px 3px hsla(0, 7%, 71%, 0.973);
}
.form-col1{ /*For creating 2 columns of input fields*/
    float: left;
    margin-right: 50px;
}
.form-col2{
    float: left;
}
input{
    border-radius: 0.2rem;
    height: 1.2rem;
}
input, label{
    display: block;
}
input:focus {
    outline: none !important;
    border:1px solid hsl(244, 56%, 41%);
    box-shadow: 0 0 3px #719ECE;
  }
input:invalid:focus{
    border-style: solid;
    border-color: hsla(0, 89%, 51%, 0.973);
}
button{
    width: 10rem;
    height: 2rem;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: hsl(92, 20%, 35%);
    border-style: solid;
    border-radius: 0.4rem;
    box-shadow: 1px 1px 1px hsla(0, 1%, 53%, 0.233);
}
button:hover{
    background-color: hsl(92, 44%, 41%);
}
a{
    color: hsl(92, 20%, 35%);
    font-weight: bold;
    text-decoration: none;
}
